<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIA Troubleshooting Report</title>
    <style>
        h1 {
            text-align: center;
        }

        .error {
            color: red;
        }

        a {
            float: right;
            margin-bottom: 60px;
        }

        .warning ul {
            color: red;
        }

        .success ul {
            color: green;
        }
    </style>
</head>

<body>
    <h1>Pronghorn Command Responses</h1>
    {% if get_flashed_messages() %}
    {% for cgy, msg in get_flashed_messages(with_categories=True) %}
    {% if cgy == 'error' %}
    <p class="error">{{ msg }}</p>
    {% endif %}
    {% endfor %}
    {% else %}
    <h2>{{ result[0] }}</h2>
    <div class="frame">
        <h3>Fail Command(s)</h3>
        <div class="warning">
        {% if result[1] %}
            {% for c in result[1] %}
            <ul>
                <li>{{ c }}</li>
            </ul>
            <br>
            {% endfor %}

            {% else %}
            <ul>
                <li>None</li>
            </ul>
        </div>
        {% endif %}
        <br><br>

        <h3>Success Command(s)</h3>
        <div class="success">
        {% if result[2] %}
            {% for c in result[2] %}
            <ul>
                <li>{{ c }}</li>
            </ul>
            <br>
            {% endfor %}
            {% else %}
            <ul>
                <li>None</li>
            </ul>
        </div>
        {% endif %}
    </div>

    {% endif %}
    <br><br><br>
    <a href="/">[Go Check Other CPE]</a>
</body>

</html>